<form [formGroup]="eventForm" class="flex between column">
  <mat-form-field class="filed-wrap">
    <mat-label>Title</mat-label>
    <input type="text"
           matInput
           formControlName="title"
           placeholder="Some text">
  </mat-form-field>
  <div
    *ngIf="formControlsTitle['title']?.invalid && (formControlsTitle['title'].dirty || formControlsTitle['title'].touched)"
    class="alert"
  >
    <div *ngIf="formControlsTitle['title'].errors?.['required']">Name is required.</div>
    <div *ngIf="formControlsTitle['title'].errors?.['maxlength']">
      Title length max {{lengthOfTitle}}.
    </div>
  </div>
  <mat-form-field class="filed-wrap">
    <mat-label>Time</mat-label>
    <input type="time"
           matInput
           formControlName="time">
  </mat-form-field>

  <button mat-raised-button color="primary"
          [disabled]="isDisabledSubmitBtn || eventForm.invalid"
          (click)="submitForm()">
    Save
  </button>
  <button mat-raised-button color="warn"
          *ngIf="isDeletable?.isAllowed"
          (click)="deleteEvent()">
    Delete
  </button>
  <ng-content></ng-content>
</form>
