<div class="page-wrap">
  <button mat-raised-button color="primary" class="back" (click)="back()"> <- Back To Calendar</button>
  <div class="content-wrap flex ">
    <cdk-virtual-scroll-viewport itemSize="10" class="viewport">
      <div *cdkVirtualFor="let hour of hours; let i = index"
           (click)="openHourDetails(hour)"
           (keydown.enter)="openHourDetails(hour)"
           tabindex="0"
           class="item flex">
        <span class="order flex align-center">{{ hour.timeNumber }}</span>
        <div class="list flex column flex-wrap wrap">
          <div class="content"
               (click)="setSelectedEventForEdit($event, event)"
               (keydown.enter)="setSelectedEventForEdit($event, event)"
               tabindex="1"
               *ngFor="let event of hour.events">
                      {{event.preciseTime}} - {{event.content}}
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

    <div class="details-wrap">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
