<div class="container">
  <div class="month-header flex align-center between">
    <button mat-button
            color="primary"
            class="btn"
            (click)="previousMonth()"> < </button>
    {{ activeMonth.monthName }}
    <button mat-button
            color="primary"
            class="btn"
            (click)="nextMonth()"> > </button>
  </div>
 <div class="header-row">

 </div>
  <div class="week-days">
    <app-week
      [days]="days"
      (gotChanged)="sendUpdateStore($event)"
    ></app-week>
  </div>
</div>
